.heroSection {
  min-height: 100vh;
  background-color: white;
  position: relative;
}

.darkHeroSection {
  background-color: #151314;
}

.heroText {
  text-align: center;
  margin-bottom: 4rem;
}

.heroTitle {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #111827;
  margin-bottom: 4rem;
}

.darkHeroTitle {
  color: white;
}

@media (min-width: 768px) {
  .heroTitle {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .heroTitle {
    font-size: 5.625rem;
  }
}

.blueText {
  color: #6acbfa;
}

.heroSvg {
  transition-transform: duration-300 ease-in-out;
}

.heroSvg:hover {
  transform: rotate(3deg);
}

.hero-svg-text {
  fill: #433e3f; /* This corresponds to Tailwind's gray-800 in light mode */
}

